#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Slide from above */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Slide into place */
  }
}

.calendar-heading {
  text-align: center;
  color: #f0f0f0;
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  letter-spacing: 0.05em;
  font-weight: 700;
  transition: color 0.3s ease, transform 0.3s ease; /* Add transition for scaling */
  animation: fadeIn 0.5s ease; /* Apply fade-in animation */
}

/* Scale effect on hover */
.calendar-heading:hover {
  color: #ffcc00; /* Gold color on hover */
  transform: scale(1.05); /* Slightly enlarge the text */
}